@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-white;
  @apply dark:bg-black;
}

/* TIMELINE STYLING */
.timeline ._3_ygE {
  @apply rounded-tl-md border border-r-0 border-[#e6e4e4] dark:border-stroke-dark;
}
.timeline ._2eZzQ {
  @apply border-[#e6e4e4] dark:border-stroke-dark;
}
.timeline ._2dZTy {
  @apply fill-white dark:fill-dark-secondary;
}
.timeline ._2dZTy:nth-child(even) {
  @apply fill-[#f5f5f5] dark:fill-dark-tertiary;
}
.timeline ._35nLX {
  @apply fill-white stroke-[#e6e4e4] dark:fill-dark-secondary dark:stroke-stroke-dark;
}
.timeline ._9w8d5 {
  @apply fill-[#333] dark:fill-white;
}
.timeline ._34SS0 {
  @apply bg-white dark:bg-dark-secondary;
}
.timeline ._34SS0:nth-of-type(even) {
  @apply bg-[#f5f5f5] dark:bg-dark-tertiary;
}
.timeline ._RuwuK,
.timeline ._3rUKi,
.timeline ._1rLuZ {
  @apply stroke-[#e6e4e4] dark:stroke-stroke-dark;
}
.timeline ._3ZbQT {
  @apply border-l-0 border-[#e6e4e4] dark:border-stroke-dark;
}
.timeline ._3T42e {
  @apply bg-white dark:bg-dark-bg;
}
.timeline ._29NTg {
  @apply dark:text-neutral-500;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sidebar-link {
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.sidebar-link:hover {
  background-color: #f0f0f0; /* Light mode */
  background-color: #333; /* Dark mode */
  transform: translateX(5px); /* Slight move to the right */
}

.active-indicator {
  background-color: #0070f3; /* Brand color for active state */
}

.profile-picture {
  border: 2px solid #0070f3; /* Add a border to the profile picture */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.sign-out-button {
  background-color: #ff4d4f; /* Distinct color for sign out */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.sign-out-button:hover {
  background-color: #ff7875; /* Lighter shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
